
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #2e2be7;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #2e2be7;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #data,
  #data-link {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #data-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #data {
    width: 70%;
  }
  
  #data-link {
    width: 30%;
  }
  
  