h1 {
    text-align: center;
    background-color: grey;
    color: rgb(81, 39, 233);
  }
  
  h2 {
    color: rgb(81, 39, 233);
  }
  
  h3 {
    color:rgb(81, 39, 233);
  }
  
  img {
    box-shadow: 10px 10px 5px black;
  }
  
  section {
    background-color: grey;
  }
  
  p {
    font-size: 15px;
    color: rgb(81, 39, 233);
  }
  
  ul {
    border-style: solid;
    color: rgb(81, 39, 233);
  }
  