body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(42, 221, 96);
    background: #0e0c8f;
  }
  
  header {
    background: #0e0c8f;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #30d210;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  
  ul {
    list-style-type: none;
    margin: 50;
    padding: 0;
    width: 300px;
    background-color: hsl(236, 76%, 48%);
    color: hotpink
  }
  a {
    list-style-type: none;
    margin: 50;
    padding: 0;
    width: 300px;
    background-color: hsl(236, 76%, 48%);
    color: rgb(8, 131, 28)
    }
    li {
    list-style-type: none;
    margin: 50;
    padding: 0;
    width: 300px;
    background-color: hsl(236, 76%, 48%);
    color: rgb(8, 131, 28)
  }
