<!DOCTYPE html>
<!-- CSS Stylesheets with Relative Paths -->
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>CSS Stylesheets with Relative Paths</title>

  <link rel="stylesheet" type="text/css" href="style3.css">
</head>

<body>

  <header>
    <h1>Raw Data</h1>
  </header>

  <main class="container">
    <section id="data">
      <section id="figure">
        <h2 id="data-name">The Data We Follow</h2>

      </section>
      <p>We at FollowTheFans believe in strict transparency, and we are able to do so, by sharing he information we collect in our studies. Feel free to review our data findings below.</p>
    </section>

    <aside id="data-link">
      <h2>Data Links</h2>
      <ul>
        <li><strong>NCAA Attendance:</strong> <a href="../data/attendance_ncaa2015.csv">2015</a></li>
        <li><strong>NCAA Attendance- 2016:</strong> <a href="../data/attendance_ncaa2016.csv">2016</a></li>
        <li><strong>NCAA Attendance- 2017:</strong> <a href="../data/attendance_ncaa2017.csv">2017</a></li>
        <li><strong>NCAA Attendance- 2018:</strong> <a href="../data/attendance_ncaa2018.csv">2018</a></li>
        <li><strong>NCAA Attendance- 2019:</strong> <a href="../data/attendance_ncaa2019.csv">2019</a></li>
        <li><strong>NCAA Teams 2015-2019:</strong> <a href="../data/Teams20152019.csv">2015-2019 Rosters</a></li>
      </ul>
    </aside>
  </main>

</body>

</html>