<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=3.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Follow The Fans</title>
  <link rel="stlyesheet" href="/static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.1.0/math.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  <style>
  .content{
    margin: auto;
    max-width: fit-content;
  }
  body {
    padding: 0;
    margin:auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    line-height: 100%;
    color: rgb(0, 0, 0);
    background: rgb(211, 215, 255);
  }
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: transparent;
  }
  </style>
</head>

<body>
  <div>
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button"  data-target="#navbarText" onclick="welcome()">Home
      <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-target="navbarText" onclick="data()">Data
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
    </div>
    </nav>
  </div>

<body>
    <table>
      <thead>
        <tr>
          <th>School</th>
          <th>Team</th>
          <th>City</th>
          <th>State</th>
          <th>Conference</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script src="/static/data/json/attendance2015.js"></script>
  <script src="/static/data/json/attendance2016.js"></script>
  <script src="/static/data/json/attendance2017.js"></script>
  <script src="/static/data/json/attendance2018.js"></script>
  <script src="/static/data/json/attendance2019.js"></script>
  <script src="/static/data/json/teams.js"></script>
  <script src="/static/js/index.js"></script>

