<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Our Mission</title>
  <link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>

<h1>Follow The Fans</h1>
<h3>Helping Athletes Across America Find Their Fit</h3>

<img src="../data/images/ncaaimage1.jpg">

<section>
	<p>For many years we've watched young, college-bound athletes struggle with what could potentially be financial crisis: Finding a team that will be not only functional, but equitable for.</p>

	<h2>Our Core Beliefs</h2>
	<ul>
		<li>College athletes should profit as much as the universities for their talents.</li>
		<li>Choosing a school should be practical for young students, in regards to both education and finance</li>
		<li>It's well known that colleges/universities with larger followings, tend to gain more resource for their teams, thus gaining ability to fincance their players.</li>
	</ul>

	<p>Here at FollowTheFans, we believe that athletes should be informed in all aspects of their prespective schools. We believe this will help not only in equity for the students, but also for schools who may miss talent due to lack of knowledge. WE open those doors, by bridging the gaps.</p>
</section>


</body>
</html>